{% extends 'base.html' %}

{% block content %}
{% load humanize %}

  <br><br><br>
<div class="row">
    {% load crispy_forms_tags %}
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 style="text-align: center;">Agregar Producto</h1>
                <hr>
                <br>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <br><br>
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Registrar" class="btn btn-success btn-lg" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}