{% extends 'base.html' %}


{% block content %}

{% load humanize %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    {% for c in carrusel %}
    <div class="carousel-item active">
      <img src="{{c.imagen_carrusel.url}}" class="d-block w-100" style="height: 600px;">
    </div>
    <div class="carousel-item active">
      <img src="{{c.imagen_carrusel2.url}}" class="d-block w-100" style="height: 600px;">
    </div>
    <div class="carousel-item active">
      <img src="{{c.imagen_carrusel3.url}}" class="d-block w-100" style="height: 600px;">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br><br><br>
  <div class="col-12 col-md-6 offset-md-3">
    <h1 style="text-align: center;">Productos</h1>
    {% for p in productos %}
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" class="img-fluid rounded-start" style="height: 100%;">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-header">{{p.categoria_id | title}}</div>
                <div class="card-body">
                    <h2 class="card-title">{{p.titulo | title}}</h2>
                    <p class="card-text">{{p.descripcion}}</p>
                    <p class="card-text"><small class="text-muted">{{p.fecha_ingreso}}</small></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Precio: {{p.precio | intcomma}}</li>
                </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}